---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'contributions', text: 'Contributions' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <!-- <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/Saramanda9988'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p> -->
  <p>
    如果你认为我的工作很有用或有趣，您可以捐赠以支持我的工作，或联系我讨论项目。
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'LunaBox',
        description: 'Lightweight, fast, and feature-rich visual novel management and game statistics tool',
        links: [
          { type: 'github', href: 'https://github.com/Saramanda9988/LunaBox' },
          { type: 'site', href: 'https://box.lunarain.site/' },
          { type: 'doc', href: 'https://box.lunarain.site/guide/introduction.html' },
          { type: 'release', href: 'https://github.com/Saramanda9988/LunaBox/releases' }
        ]
      },
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'TogetherChat',
          description: '支持在线聊天，直播，协作的轻量级IM平台',
          links: [
            { type: 'github', href: 'https://github.com/Saramanda9988/TogetherChat' },
          ]
        },
        {
          name: 'DeepLuna',
          description:
            '简易的基于 Spring Boot 和 Spring AI 的多 agent 研究与检索系统',
          links: [{ type: 'github', href: 'https://github.com/Saramanda9988/DeepLuna' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '6.5840',
        description: 'Distributed systems',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Saramanda9988/6.5840Lab'
          }
        ]
      }
    ]}
  />

  <h2 id='others'>Contributions</h2>
  <ProjectSection
    projects={[
      {
        name: 'hertzbeat',
        description: "An AI-powered next-generation open source real-time observability system.",
        links: [{ type: 'github', href: 'https://github.com/apache/hertzbeat' }]
      },
      {
        name: 'TranslateProject',
        description: '参考 Linux 中国翻译项目，设计我们开源俱乐部的翻译项目 HCTT(HUST openatom Club Translation Team)',
        links: [
          { type: 'github', href: 'https://github.com/hust-open-atom-club/TranslateProject' },
          { type: 'site', href: 'https://hctt.openatom.club/' }
        ]
      },
      {
        name: 'astrbot-qq-group-daily-analysis',
        description: 'QQ群日常分析插件 - 生成精美的群聊分析报告，支持话题分析、用户称号、群聊金句等功能',
        links: [
          { type: 'github', href: 'https://github.com/SXP-Simon/astrbot-qq-group-daily-analysis' },
        ]
      },
    ]}
  />

  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    你可以通过检查 GPG 签名来验证我签名的文件的真实性。我的 GPG 密钥是 <code>7A964BD6F54E60BB5462F89CDB96B7344CD56E63</code>, 你可以在 openpgp 密钥服务器上找到它或从那里下载
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>

  <!-- <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  /> -->
  <!-- <p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={25}
    sponsors={[
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
    ]}
  /> -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
